//Variables 
$white: #f5f5f5;
$black: #0A0A0A;
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    position: relative;
    padding: 0;
    bottom: 80px;
    background-image: url('./helpers/img/back1.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin buttonContact {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    color: $white;
    background: $black;
    font-weight: 700;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: -1px 17px 42px -12px rgba(89, 89, 89, 0.75);
    -webkit-box-shadow: -1px 17px 42px -12px rgba(89, 89, 89, 0.75);
    -moz-box-shadow: -1px 17px 42px -12px rgba(89, 89, 89, 0.75);
}

@mixin buttonContactHover {
    background: #292929;
}

.header {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1250px;
    padding: 25px;
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav_buttons {
            display: flex;
            align-items: center;
        }
    }
    .logo {
        text-align: left;
        h2,
        h3 {
            background: rgb(4, 29, 94);
            background: linear-gradient(90deg, rgba(4, 29, 94, 1) 0%, rgba(9, 9, 121, 1) 44%, rgba(0, 212, 255, 1) 100%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            margin: 2px;
        }
        h2 {
            font-size: 18px;
        }
        h3 {
            font-size: 14px;
        }
    }
    .presentation {
        display: flex;
        margin: auto;
        margin-top: 5%;
        padding: 50px;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1200px;
        .presentation_text {
            width: 60%;
            min-width: 600px;
            h1 {
                font-size: 55px;
            }
            b {
                animation: changeColor 4s infinite;
                animation-timing-function: ease;
                animation-direction: alternate;
            }
            div {
                display: flex;
                align-items: center;
                h3 {
                    padding-right: 10px;
                }
            }
        }
        .presentation_animation {
            padding: 40px;
            width: 40%;
            min-width: 400px;
        }
    }
}

.button_contact {
    @include buttonContact
}

.button_contact:hover {
    @include buttonContactHover;
}

#button_download_cv {
    background: none;
    border: none;
    font-weight: 700;
    padding: 5px;
    margin-right: 35px;
    border-bottom: 2px solid #dfdfdf;
    cursor: pointer;
}

#button_download_cv:hover {
    border-bottom: 2px solid #292929;
    box-shadow: -1px 17px 42px -12px rgba(89, 89, 89, 0.75);
    -webkit-box-shadow: -1px 17px 42px -12px rgba(89, 89, 89, 0.75);
    -moz-box-shadow: -1px 17px 42px -12px rgba(89, 89, 89, 0.75);
}

.tools {
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: center;
    margin: 50px auto;
    h3 {
        font-size: 30px;
        animation: changeColor 4s infinite;
        animation-timing-function: ease;
        animation-direction: alternate;
    }
}

#dialog {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 60vh;
    padding: 20px;
    border: 2px solid #dfdfdf;
    border-radius: 25px;
    z-index: 60;
    pointer-events: all;
    margin: 20vh auto;
    .button_contact {
        display: block;
    }
    .first {
        display: flex;
        height: 80%;
        .info {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48%;
            background: rgb(4, 29, 94);
            background: linear-gradient(90deg, rgba(4, 29, 94, 1) 0%, rgba(9, 9, 121, 1) 44%, rgba(0, 212, 255, 1) 100%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }
        hr {
            width: 3px;
            margin: 35px;
        }
        .form {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            width: 48%;
            form {
                display: flex;
                flex-direction: column;
                input {
                    padding: 5px;
                    margin: 5px;
                    border: none;
                    border-bottom: 1px solid #dfdfdf;
                }
            }
        }
    }
    .second {
        display: flex;
        justify-content: center;
    }
    .logo {
        text-align: center;
    }
}

.active {
    animation: aparition 1s;
}

.disabled {
    animation: desaparition 1s;
    opacity: 0;
}

#dinamic_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 90%;
    min-width: 350px;
}

.dinamic_img {
    width: 85px;
    height: 85px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background: #EEEEEE;
    filter: grayscale(1);
}

.dinamic_img:hover {
    filter: grayscale(0);
}

#footer {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    #icons_link {
        display: flex;
        margin: auto;
        a {
            text-decoration: none;
            color: #292929;
            padding: 15px;
            font-weight: 700;
            font-size: 35px;
        }
        #linkedin:hover {
            color: #00d4ff
        }
        #github:hover {
            color: #0A0A0A
        }
    }
}

#data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1150px;
    margin: auto;
    flex-wrap: wrap;
    .data_container {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        margin: 25px;
        padding: 25px;
        box-shadow: -1px 17px 42px -12px rgba(89, 89, 89, 0.50);
        -webkit-box-shadow: -1px 17px 42px -12px rgba(89, 89, 89, 0.50);
        -moz-box-shadow: -1px 17px 42px -12px rgba(89, 89, 89, 0.50);
        border-radius: 25px;
        width: 40%;
        min-width: 450px;
        h3 {
            color: #041d5e;
            font-size: 35px;
            margin: 0px;
        }
    }
    .data_container:hover {
        animation: movement 1s alternate infinite;
    }
}

#who_container {
    display: flex;
    max-width: 1000px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 25vh auto;
    width: 80%;
}

#who_data {
    width: 50%;
    margin: auto;
    h1 {
        text-align: center;
        animation: changeColor 4s infinite;
        animation-timing-function: ease;
        animation-direction: alternate;
    }
    p {
        padding-right: 5vw;
    }
}

#who_image {
    width: 50%;
    img {
        width: 100%;
        filter: grayscale(0.7);
        border-radius: 0px 25px 25px 0px;
    }
}

@keyframes movement {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-15px);
    }
}

@keyframes aparition {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes desaparition {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#button_top {
    position: sticky;
    top: 75%;
    left: 90%;
    z-index: 50;
    border-radius: 50px;
    border: none;
    width: 60px;
    height: 60px;
    background: $black;
    color: $white;
    cursor: pointer;
    scroll-behavior: smooth;
    font-size: 25px;
    box-shadow: -1px 17px 42px -12px rgba(89, 89, 89, 0.75);
    -webkit-box-shadow: -1px 17px 42px -12px rgba(89, 89, 89, 0.75);
    -moz-box-shadow: -1px 17px 42px -12px rgba(89, 89, 89, 0.75);
}

#button_top:hover {
    background: #292929;
}

@keyframes changeColor {
    0% {
        color: #041d5e;
    }
    50% {
        color: #090979;
    }
    100% {
        color: #00d4ff;
    }
}

@media screen and (max-width: 990px) {
    #dinamic_content {
        overflow-x: auto;
    }
    #data {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        flex-wrap: wrap;
        .data_container {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            margin: 25px auto;
            padding: 25px;
            box-shadow: -1px 17px 42px -12px rgba(89, 89, 89, 0.50);
            -webkit-box-shadow: -1px 17px 42px -12px rgba(89, 89, 89, 0.50);
            -moz-box-shadow: -1px 17px 42px -12px rgba(89, 89, 89, 0.50);
            border-radius: 25px;
            width: 40%;
            min-width: 450px;
            h3 {
                color: #041d5e;
                font-size: 35px;
                margin: 0px;
            }
        }
        .data_container:hover {
            animation: movement 1s alternate infinite;
        }
    }
    .header {
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 1250px;
        padding: 25px;
        .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .nav_buttons {
                display: flex;
                align-items: center;
            }
        }
        .logo {
            text-align: left;
            h2,
            h3 {
                background: rgb(4, 29, 94);
                background: linear-gradient(90deg, rgba(4, 29, 94, 1) 0%, rgba(9, 9, 121, 1) 44%, rgba(0, 212, 255, 1) 100%);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                margin: 2px;
            }
            h2 {
                font-size: 18px;
            }
            h3 {
                font-size: 14px;
            }
        }
        .presentation {
            display: flex;
            margin: auto;
            margin-top: 5%;
            padding: 50px;
            align-items: center;
            flex-wrap: wrap;
            max-width: 1200px;
            .presentation_text {
                width: 60%;
                min-width: 400px;
                h1 {
                    text-align: center;
                    font-size: 45px;
                }
                b {
                    animation: changeColor 4s infinite;
                    animation-timing-function: ease;
                    animation-direction: alternate;
                }
                div {
                    display: flex;
                    align-items: center;
                    h3 {
                        padding-right: 10px;
                    }
                }
                #paragraph_change {
                    display: none;
                }
            }
            .presentation_animation {
                padding: 40px;
                width: 40%;
                align-items: center;
                #lottie {
                    width: 400px;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    #dinamic_content {
        overflow-x: scroll;
        width: 100%;
    }
}